# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Model files
models/*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Build files
dist/
build/

# Temporary files
*.tmp